@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&amp;display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&amp;display=swap');

body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    background-color:#1b1b1b;
    color: #FFF;
    /*
    background-image: url(../img/bg.png);
    background-position: top center;
    background-size: 100% auto;
    background-repeat: repeat-y;
    */
}

/* Navbar */

#navbar {
    text-align: center;
    color: #fff;
    background-color: #000;
    font-size: 17px;
    text-align: center;
    padding: 10px;
    position:  static;
    z-index: 99999;
    width: 100%;
}
.video-section {
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* padding-bottom: 30px; */
}
.headline {
  margin-top: 5px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  color: #fff;
  line-height: 34px;
  letter-spacing: 1px;
  text-transform: uppercase;
  max-width: 800px;
  font-family: 'Montserrat', sans-serif;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}
.headline .highlight {
  color: rgb(255, 123, 0);
}
.video-container {
  transition: ease 0.5s;
  max-width: 720px;
  width: 100%;
  margin: auto;
  display: block;
  padding: 20px 15px 8px 15px;
}

.video {
  filter: drop-shadow(-8px 0px 32px rgba(0, 0, 0, 0.15)) drop-shadow(8px 0px 32px rgba(0, 0, 0, 0.15))
    drop-shadow(0px -8px 32px rgba(0, 0, 0, 0.15)) drop-shadow(0px 8px 32px rgba(0, 0, 0, 0.15));
}

#location {
    color: #3EA0FF;
    font-weight: 600;
}

/* Hero */

.frame-video {
    max-width: 100%;
}


.hero {
    min-height: 70vh;
    text-align: center;
    padding: 50px;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    transition: height 1s;
/*
    background-image: url(../img/bg-shadow.png);
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: auto 250px;

    background-image: url(../img/bg-top.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: top left;*/
}


.ultrasecreto {
    margin:20px;
    max-width: 90%;
}

h1 {
    color: #fff;
    text-transform: uppercase;
    max-width: 800px;
    font-family: 'Montserrat', sans-serif;
}

.som {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

.som img {
    margin: 10px
}

.button_container {
  margin-top: 30px;
  margin-bottom: 10px;
}
.arrow {
  filter: saturate(150%);

}
#btn1 {
  background-color: #F0B425;
  color: #fff;
  border-radius: 5px;
  padding: 10px 10px 10px 10px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 1px;
  height:100px;
  width: 390px;
  max-width: 100%;
  -webkit-transition: all .4s ease-in-out;
transition: all .4s ease-in-out;
}

#btn2 {
  background-color: #b30000;
  color: #fff;
  border-radius: 5px;
  padding: 10px 20px 10px 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 17px;
  letter-spacing: 2px;
  height:60px;
  width: 300px;
  max-width: 100%;
  -webkit-transition: all .4s ease-in-out;
transition: all .4s ease-in-out;
}


.btn {
    background-color: #F0B425;
    color: #fff;
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 17px;
    letter-spacing: 2px;
    height:60px;
    width: 300px;
    max-width: 100%;
    -webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}

.bandeiras {
    margin-top: 40px;
    padding: 0px
}

.bandeiras ul {
    list-style: none;
}

.bandeiras li {
    background-color: #3E8F28;
    display: inline;
    padding:5px 10px 5px 10px;
    border-radius: 10px;
    margin:10px;
}

.btn:hover {
    transform: scale(1.05);
    color:#fff
}

:focus {
    outline: none;
}

/* fb comments */


.fb-comments {
  border: 1px solid #e9ebee;
  border-radius: 3px;
  padding: 0 15px;
  padding-bottom: 15px;
  margin: auto;
  position: relative;
  color: #4267b2
}

.fb-comments-header {
  padding: 15px 0;
  border-bottom: 1px solid #e9ebee
}

.fb-comments-header span {
  color: #000;
  font-weight: 700;
  font-size: .9em
}

.fb-comments-comment {
  border: none;
  padding: 0;
  margin: 10px 0;
  width: 100%
}

.fb-comments-reply-wrapper {
  margin-left: 60px;
  border-left: 1px dotted #e9ebee;
  padding-left: 5px
}

tr, td {
  border: none;
  margin: 0
}

td {
  padding: 2.5px
}

tr {
  padding: 2.5px 0
}

.fb-comments-comment-img {
  vertical-align: top;
  width: 50px;
  padding-right: 5px
}

.fb-comments-comment-img img {
  max-width: 50px;
  border-radius: 25px
}

.fb-comments-comment-name {
  font-size: .99em
}

.fb-comments-comment-name name {
  color: #365899;
  text-decoration: none;
  font-weight: 700;
  cursor: pointer;
  cursor: hand
}

.fb-comments-comment-name name:hover {
  text-decoration: underline
}

.fb-comments-comment-name occupation {
  color: #90949c
}

.fb-comments-comment-text {
  font-size: .95em;
  color: #000;
  border-radius: 20px;
  background-color: #eaebef;
  padding: 10px 20px
}

.fb-comments-comment-actions like, .fb-comments-comment-actions reply {
  font-size: .75em;
  color: #4267b2;
  text-decoration: none;
  cursor: pointer;
  cursor: hand
}

.fb-comments-comment-actions like.liked {
  color: #90949c
}

.fb-comments-comment-actions like:hover, .fb-comments-comment-actions reply:hover {
  text-decoration: underline
}

.fb-comments-comment-actions likes {
  font-size: 13px;
  background: url(https://seducaooculta.online/reaction-2020alphab.png);
  background-repeat: no-repeat;
  padding-left: 43px;
  color: #4267b2;
  padding-right: 6px;
  padding-top: 3px;
  padding-bottom: 2px;
  margin-top: -10px;
  float: right;
  background-color: #fff;
  border: solid #eaebef;
  border-radius: 19px
}

.fb-comments-comment-actions date {
  font-size: .75em;
  color: #90949c;
  text-decoration: none;
  cursor: pointer;
  cursor: hand
}

.fb-comments-comment-actions date:hover {
  text-decoration: underline
}

.fb-comments-loadmore {
  background: #4080ff;
  border: 1px solid #4080ff;
  border-radius: 3px;
  box-sizing: border-box;
  color: #fff;
  margin-top: 30px;
  margin-bottom: 15px;
  font-size: 15px;
  padding: .875em;
  text-shadow: none;
  width: 100%;
  font-weight: 700;
  cursor: hand;
  cursor: pointer
}
.fb-comments-loadmore2 {
  background: #4080ff;
  border: 1px solid #4080ff;
  border-radius: 3px;
  box-sizing: border-box;
  color: #fff;
  margin-top: 30px;
  margin-bottom: 15px;
  font-size: 15px;
  padding: .875em;
  text-shadow: none;
  width: 100%;
  font-weight: 700;
  cursor: hand;
  cursor: pointer
}

.fb-reply-input {
  border: 1px solid lightgrey;
  border-radius: 3px;
  width: 100%;
  padding: 5px 7.5px;
  font-size: .75em;
  color: #000;
  outline: none
}

.fb-reply-input:hover, .fb-reply-button:hover {
  outline: none
}

.fb-reply-button {
  background: #4080ff;
  border: 1px solid #4080ff;
  border-radius: 3px;
  box-sizing: border-box;
  color: #fff;
  font-size: .75em;
  padding: 5px 7.5px;
  text-shadow: none;
  width: 100%;
  font-weight: 700;
  cursor: hand;
  cursor: pointer;
  outline: none
}

.bbtn {
  width: 100%;
  max-width: 449px
}

#c-container {
    background-color: #FFFCFC;
    border:solid 1px #EBEBEB;
    border-radius: 10px;
    margin-bottom: 50px;
    color: #333;
    text-align: left !important;
    padding: 30px 50px 30px 50px;
    font-size: 14px;
    width: 930px;
    max-width: 100%;
}

#f-container {
    background-color: #FFFCFC;
    border:solid 1px #EBEBEB;
    border-radius: 10px;
    margin-bottom: 50px;
    color: #333;
    text-align: left !important;
    padding: 15px 15px 15px 15px;
    font-size: 14px;
    width: 930px;
    max-width: 100%;
}

.count-c {
    font-weight: 600;
    border-bottom: solid 1px #dcdcdc;
    margin-bottom: 20px;
    margin-top: 0px;
    padding-bottom: 10px;
}

.face-c {
    font-weight: 500;
    border-top: solid 1px #dcdcdc;
    margin-bottom: 0px;
    padding-top: 10px;
    color: #666666;
    font-size: 12px;
}

.face-c img {
    width: 17px;
    border-radius: 2px;
    margin-right: 10px;
    margin-top: -1px;
}

.foto-c, .foto-c img {
    background-color:#999;
    width:50px;
    height: 50px;
    float: left;
}

.nome-c {
    padding: 0px 0px 0px 10px;
    display: grid;
    font-weight: 800;
    color:#365899;
    font-size: 14px;
}

.comentario-c {
    padding: 0px 0px 0px 10px;
    display: grid;
    color:#090909;
    font-size: 14px;

}

.hora-c{
    color: #93979F;
    padding: 10px 0px 0px 0px;
    font-size: 11px;
}

.c-content {
    margin: 0px 0px 30px 0px;
}

.resposta {
    margin-top: 10px;
    margin-left: 70px;
    padding: 0px 0px 0px 10px;
    border-left: solid 1px #dcdcdc;
}

.resposta-c {
    margin-bottom: 10px;
}

.blue {
    color:#4a7cdc;
    font-weight: 600;
}

.red {
    color:#ff5a5a;
    font-weight: 800;
}

.c-section {
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;
    /*
    background-image: url(../img/bg-shadow-y.png);
    background-repeat: repeat-x;
    background-size: auto 250px;
    */
}

.f-section {
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;
    /*
    background-image: url(../img/bg-shadow-y.png);
    background-repeat: repeat-x;
    background-size: auto 250px;
    */
}


/* FOOTER */

.pirataria h3 {
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 5px;
}

.pirataria b{
    color: #ff5a5a;
}

.pirataria {
    font-size: 12px;
    text-align: justify;
}

footer {
    background-color: #00000078;
    padding-top: 30px;
    margin-top: 100px;
    padding-bottom: 170px;

}

.cpy {
    font-size: 12px;
    margin: 37px 0px 20px 0px;
}

.links a {
    font-size: 12px;
    color: #666666;
}

#iframe_video {
    width: 840px;
    height: 560px;
}


/* RESPONSIVO */

@media (max-width: 430px) {
  .headline {
    font-size: 15px;
    line-height: 25px;
  }

  .sound-warning {
    font-size: 10px;
    line-height: 12px;
  }

  .confidential {
    width: 160px !important;
  }

  .logo {
    width: 160px !important;
  }
  .devices {
    width: 260px !important;
  }

  .btn-primary {
    width: 300px !important;
    height: fit-content !important;
    border-radius: 16px !important;
    font-size: 11px !important;
  }
}

.ctav2 {
  border-radius: 5px !important;
}
}
@media (min-width: 431px) and (max-width: 620px) {
  .headline {
    font-size: 15px;
    line-height: 25px;
  }

  .sound-warning {
    font-size: 14px;
    line-height: 16px;
  }

  .confidential {
    width: 200px;
  }

  .logo {
    width: 200px;
  }
}

@media (min-width: 621px) and (max-width: 860px) {
  .headline {
    font-size: 15px;
    line-height: 25px;
  }
}

@media only screen and (max-width: 480px){

    .pirataria {
        padding-bottom: 30px;
        -moz-text-align-last: center;
text-align-last: center;
    }

    h1 {
        font-size: 25px;
        font-weight: 800;
        letter-spacing: 0px;
    }

    .count-c, .face-c {
        padding-left:10px;
    }

    #c-container {
        padding: 20px;
        border-radius: 5px;
    }

    .hero {
        height: auto;
        padding: 10px
    }

    .button_container {
        margin-left: 0px;
        margin-right: 0px;

    }

    .btn {
        height: auto;
    }

    #navbar {
        font-size: 15px;
    }

    .som {
        font-size: 12px;
    }

    .som img {
        width: 20px;
    }

    .bandeiras {
        padding: 0px;

    }

    .bandeiras li {
        margin: 2px;
    }

    .ultrasecreto {
        margin-top: 10px;
        margin-bottom: 30px;
    }

    .hero {
        background-position-y: -250px !important;
        background-position-x: -60px !important;
    }


    .c-section {
        margin: 0px 10px 0px 10px;
    }
    .f-section {
        margin: 0px 10px 0px 10px;
    }


    #iframe_video {
        width: 100% !important;
        height: 192px !important;
    }
    .quiz {
    	border: 1px solid #111;
    	background-color: #333;

    	.progress {
    		background-color: #555;
    		margin-bottom: 0;
    		height: 3px;
    		border-radius: 0;
    		.progress-bar {

    		}
    	}

    	.cardHolder {
    		background-color: #222;
    		min-height: 300px;
    	}

    	[class^='card-'], .cardEnd {
    		background-color: #222;
    		padding: 50px;


    		span {
    			opacity: 0.5;
    		}
    		@media (max-width: 767px) {
    			padding: 50px 0;
    		}

    		#map {
    			width: 500px;
    			height: 350px;
    			margin: auto;
    		}
    	}
