@import url("https://fonts.googleapis.com/css2?family=Lato&amp;display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  background: #000;
  display: flex;
  flex-direction: column;
}

.main-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 24px;
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

h1 {
  font-weight: 900;
  font-size: 36px;
  line-height: 43px;
  text-align: center;
}

.video-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* padding-bottom: 30px; */
}

.comment-section {
  padding: 40px 0px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.w-full {
  display: flex;
  justify-content: center;
}

.video-container {
  transition: ease 0.5s;
  max-width: 720px;
  width: 100%;
  margin: auto;
  display: block;
  padding: 20px 15px 8px 15px;
}

.video {
  filter: drop-shadow(-8px 0px 32px rgba(0, 0, 0, 0.15))
    drop-shadow(8px 0px 32px rgba(0, 0, 0, 0.15))
    drop-shadow(0px -8px 32px rgba(0, 0, 0, 0.15))
    drop-shadow(0px 8px 32px rgba(0, 0, 0, 0.15));
}

.confidential {
  margin-top: 30px;
  width: 280px;
}

.headline {
  margin-top: 25px;
  margin-bottom: 30px;
  color: #fff;
  text-transform: uppercase;
  font-size: 35px;
  line-height: 34px;
  padding: 0px 16px;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

.headline {
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000,
    1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
  line-height: 40px;
}

.highlight {
  color: rgb(255, 251, 36);
}

.sound-warning {
  margin-top: 10px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hiddenbtn {
  display: none !important;
}

.pay-btn {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.pay-btn .text {
  text-align: center;
  font-size: 20px;
  line-height: 30px;
  color: rgb(255, 255, 255);
}

.pay-btn .badges {
  display: flex;
  margin-top: 16px;
}

.badge {
  display: flex;
  align-items: center;
  border-left: 3px solid #fff;
  color: #fff;
  border-radius: 0;
  text-transform: uppercase;
  padding: 0px 8px;
}

.badge span {
  font-size: 12px;
  margin-left: 8px;
  text-align: start;
}

.badge .icon {
  width: 20px;
  height: 20px;
}

.pay-btn .badge:first-child {
  border-left: none;
}

text-primary {
  color: rgb(28, 221, 1) !important;
}

/*rgba(34, 158, 230, 1)*/

.btn-primary {
  border-color: rgb(255, 251, 35);
  /* max-width: 300px; */
  color: #000;
  border-radius: 16px;
  font-size: 21px;
  background-color: rgb(255, 251, 35) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 54px;
}

.btn-primary:hover {
  border-color: rgb(255, 255, 255);
  /* max-width: 300px; */
  color: rgb(0, 0, 0);
  border-radius: 16px;
  font-size: 21px;
  background-color: rgb(248, 244, 121) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 54px;
}

.btn-secondary {
  margin-top: 0px;
  width: 30%;
  height: 44px;
  border-top-color: rgb(28, 221, 1);
  border-right-color: rgb(28, 221, 1);
  border-bottom-color: rgb(28, 221, 1);
  border-left-color: rgb(28, 221, 1);
  border-radius: 20px;
  background-color: rgb(28, 221, 1) !important;
}

.acce {
  background-color: #e0f4ff;
  height: 70%;
}

/* FOOTER */

.pirataria h3 {
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 5px;
}

.pirataria b {
  color: #ffc400;
}

.pirataria {
  font-size: 12px;
  text-align: justify;
}

.cpy {
  font-size: 12px;
  margin: 37px 0px 20px 0px;
}

.links a {
  font-size: 12px;
  color: #666666;
}

#iframe_video {
  width: 640px;
  height: 360px;
}

.yellow {
  color: #ffc400;
}
.resposta {
  margin-top: 10px;
  margin-left: 70px;
  padding: 0px 0px 0px 10px;
  border-left: solid 1px #dcdcdc;
}

.resposta-c {
  margin-bottom: 10px;
}

.fb-comments {
  border: 1px solid #e9ebee;
  border-radius: 3px;
  padding: 0 15px;
  padding-bottom: 15px;
  margin: auto;
  position: relative;
  color: #4267b2;
}

.fb-comments-header {
  padding: 15px 0;
  border-bottom: 1px solid #e9ebee;
}

.fb-comments-header span {
  color: #000;
  font-weight: 700;
  font-size: 0.9em;
}

.fb-comments-comment {
  border: none;
  padding: 0;
  margin: 10px 0;
  width: 100%;
}

.fb-comments-reply-wrapper {
  margin-left: 60px;
  border-left: 1px dotted #e9ebee;
  padding-left: 5px;
}

tr,
td {
  border: none;
  margin: 0;
}

td {
  padding: 2.5px;
}

tr {
  padding: 2.5px 0;
}

.fb-comments-comment-img {
  vertical-align: top;
  width: 48px;
  padding-right: 5px;
}

.fb-comments-comment-img img {
  max-width: 48px;
  border-radius: 25px;
}

.fb-comments-comment-name {
  font-size: 0.85em;
}

.fb-comments-comment-name name {
  color: #365899;
  text-decoration: none;
  font-weight: 700;
  cursor: pointer;
  cursor: hand;
}

.fb-comments-comment-name name:hover {
  text-decoration: underline;
}

.fb-comments-comment-name occupation {
  color: #90949c;
}

.fb-comments-comment-text {
  font-size: 0.9em;
  color: #000;
  border-radius: 21px;
  background-color: #eaebef;
  padding: 10px 20px;
}

.fb-comments-comment-actions like,
.fb-comments-comment-actions reply {
  font-size: 0.75em;
  color: #4267b2;
  text-decoration: none;
  cursor: pointer;
  cursor: hand;
}

.fb-comments-comment-actions like.liked {
  color: #4267b2;
}

.fb-comments-comment-actions like:hover,
.fb-comments-comment-actions reply:hover {
  text-decoration: underline;
}

.fb-comments-comment-actions likes {
  font-size: 13px;
  background: url(../images/reactions.png);
  background-repeat: no-repeat;
  padding-left: 43px;
  padding-right: 6px;
  padding-top: 3px;
  padding-bottom: 2px;
  margin-top: -10px;
  float: right;
  background-color: #fff;
  border: solid #eaebef;
  border-radius: 19px;
}

.fb-comments-comment-actions date {
  font-size: 0.75em;
  color: #90949c;
  text-decoration: none;
  cursor: pointer;
  cursor: hand;
}

.fb-comments-comment-actions date:hover {
  text-decoration: underline;
}

.fb-comments-loadmore,
.fb-comments-loadmore2 {
  background: #4080ff;
  border: 1px solid #4080ff;
  border-radius: 3px;
  box-sizing: border-box;
  color: #fff;
  font-size: 14px;
  padding: 0.875em;
  text-shadow: none;
  width: 100%;
  font-weight: 700;
  cursor: hand;
  cursor: pointer;
}

.fb-reply-input {
  border: 1px solid lightgrey;
  border-radius: 3px;
  width: 100%;
  padding: 5px 7.5px;
  font-size: 0.75em;
  color: #000;
  outline: none;
}

.fb-reply-input:hover,
.fb-reply-button:hover {
  outline: none;
}

.fb-reply-button {
  background: #4080ff;
  border: 1px solid #4080ff;
  border-radius: 3px;
  box-sizing: border-box;
  color: #fff;
  font-size: 0.75em;
  padding: 5px 7.5px;
  text-shadow: none;
  width: 100%;
  font-weight: 700;
  cursor: hand;
  cursor: pointer;
  outline: none;
}

.footer {
  align-self: flex-end;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  justify-content: center;
  background-color: #000;
}

.footer-content {
  max-width: 1082px;
  margin: 0px 32px;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 16px;
}

.footer-links {
  display: flex;
  justify-content: center;

  text-align: center;
  font-weight: normal;
  color: #fff !important;
}

.footer-links a {
  padding-right: 20px;
  text-decoration: none;
  color: #fff !important;
}

.footer-links a:visited {
  text-decoration: none;
  color: #fff !important;
}

.footer a:first-child {
  border-left: none;
}

.footer a:last-child {
  padding-right: 0px;
}

.logo {
  width: 250px;
}

.disclaimer {
  font-size: 12px;
  line-height: 15px;
  color: #fff;
  margin: 0px;
  text-align: center;
}

.pirate {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.footer span {
  color: #fff !important;
  margin-top: 8px;
}

@media (max-width: 430px) {
  .headline {
    font-size: 20px;
  }

  .headline .highlight {
    font-size: 25px;
  }

  .sound-warning {
    font-size: 12px;
    line-height: 14px;
  }

  .confidential {
    width: 160px !important;
  }

  .logo {
    width: 160px !important;
  }

  .btn-primary {
    width: 300px !important;
    height: fit-content !important;
    border-radius: 16px !important;
    font-size: 15px !important;
  }
}

@media (min-width: 431px) and (max-width: 620px) {
  .headline {
    font-size: 20px;
  }

  .sound-warning {
    font-size: 14px;
    line-height: 16px;
  }

  .confidential {
    width: 200px;
  }

  .logo {
    width: 200px;
  }
}

@media (min-width: 621px) and (max-width: 860px) {
  .headline {
    font-size: 24px;
  }
}

@media (max-width: 992px) {
  .logo {
    width: 240px;
  }

  .confidential {
    width: 240px;
  }

  .captura {
    background-image: url(../assets/img/img2s.html);
    height: 105%;
  }
  .acce {
    background-color: #e0f4ff;
    height: 75%;
  }

  .pay-btn {
    margin-top: 16px;
  }

  .pay-btn .text {
    font-size: 14px;
    line-height: 20px;
  }

  .pay-btn .badges {
    display: flex;
    margin-top: 10px;
  }

  .badge {
    display: flex;
    align-items: center;
    border-left: 3px solid #fff;
    color: #fff;
    border-radius: 0;
    text-transform: uppercase;
    padding: 0px 8px;
  }

  .badge span {
    font-size: 10px;
    margin-left: 6px;
    text-align: start;
  }

  .badge .icon {
    width: 16px;
    height: 16px;
  }

  .pay-btn .badge:first-child {
    border-left: none;
  }

  .btn-primary {
    width: 100%;
    height: 40px;
    border-radius: 16px;
    font-size: 14px;
  }

  .btn-secondary {
    margin-top: 0px;
    width: 70%;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(28, 221, 1) !important;
  }

  .image {
    width: 100%;
  }

  .footer {
    font-size: 14px;
  }
}
